extends: default

rules:
  # Allow truthy values (Ansible uses them)
  truthy:
    level: warning

  # Allow long lines up to 160 chars (Ansible often uses long commands)
  line-length:
    max: 180
    level: warning

  # Cloud-init does not require '---'
  document-start:
    ignore:
      - technitium/cloud-init/local/*
    level: warning

  # Comments without a space are fine
  comments:
    require-starting-space: false
    level: warning

  # Don't require indentation for sequences
  indentation:
    indent-sequences: true
