# Sample Bitwarden environment file
# Copy this file to bw.env and fill in your real credentials.
# DO NOT commit bw.env to Git.

# The REAL FILE SHOULD BE PLACED in
# /etc/pve/technitium/bw.env

BW_TOKEN="your-bitwarden-service-account-token"
BW_ORGID="your-organization-id"
BW_PROJECTID="your-project-id"
TECHNITIUM_ADMIN_PASSWORD="your-new-technitium-admin-password"